// Define variables for your color scheme

// For example:
$red: #FD1015;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blackblue:#000814;
$darkblue: #001D3D;
$blue: #003566;
$orange: #FFC300;
$yellow: #FFD60A;
$grayback: #CCCCCC;
