<div class="loadingpage">
<div class="wraper" style="background: #003566">
  <div class="container">
      <div class="wall">
          <div class="row row-0">
              <div class="brick brick-0"></div>
              <div class="brick brick-1"></div>
              <div class="brick brick-2"></div>
              <div class="brick brick-3"></div>
              <div class="brick brick-4"></div>
              <div class="brick brick-5"></div>
              <div class="brick brick-6"></div>
              <div class="brick brick-7"></div>
              <div class="brick brick-8"></div>
          </div>
          <div class="row row-1">
              <div class="brick brick-0"></div>
              <div class="brick brick-1"></div>
              <div class="brick brick-2"></div>
              <div class="brick brick-3"></div>
              <div class="brick brick-4"></div>
              <div class="brick brick-5"></div>
              <div class="brick brick-6"></div>
              <div class="brick brick-7"></div>
              <div class="brick brick-8"></div>
          </div>
          <div class="row row-2">
              <div class="brick brick-0"></div>
              <div class="brick brick-1"></div>
              <div class="brick brick-2"></div>
              <div class="brick brick-3"></div>
              <div class="brick brick-4"></div>
              <div class="brick brick-5"></div>
              <div class="brick brick-6"></div>
              <div class="brick brick-7"></div>
              <div class="brick brick-8"></div>
          </div>
          <div class="row row-3">
              <div class="brick brick-0"></div>
              <div class="brick brick-1"></div>
              <div class="brick brick-2"></div>
              <div class="brick brick-3"></div>
              <div class="brick brick-4"></div>
              <div class="brick brick-5"></div>
              <div class="brick brick-6"></div>
              <div class="brick brick-7"></div>
              <div class="brick brick-8"></div>
          </div>
          <div class="row row-4">
              <div class="brick brick-0"></div>
              <div class="brick brick-1"></div>
              <div class="brick brick-2"></div>
              <div class="brick brick-3"></div>
              <div class="brick brick-4"></div>
              <div class="brick brick-5"></div>
              <div class="brick brick-6"></div>
              <div class="brick brick-7"></div>
              <div class="brick brick-8"></div>
          </div>
          <div class="row row-5">
              <div class="brick brick-0"></div>
              <div class="brick brick-1"></div>
              <div class="brick brick-2"></div>
              <div class="brick brick-3"></div>
              <div class="brick brick-4"></div>
              <div class="brick brick-5"></div>
              <div class="brick brick-6"></div>
              <div class="brick brick-7"></div>
              <div class="brick brick-8"></div>
          </div>
          <div class="row row-6">
              <div class="brick brick-0"></div>
              <div class="brick brick-1"></div>
              <div class="brick brick-2"></div>
              <div class="brick brick-3"></div>
              <div class="brick brick-4"></div>
              <div class="brick brick-5"></div>
              <div class="brick brick-6"></div>
              <div class="brick brick-7"></div>
              <div class="brick brick-8"></div>
          </div>
          <div class="row row-7">
              <div class="brick brick-0"></div>
              <div class="brick brick-1"></div>
              <div class="brick brick-2"></div>
              <div class="brick brick-3"></div>
              <div class="brick brick-4"></div>
              <div class="brick brick-5"></div>
              <div class="brick brick-6"></div>
              <div class="brick brick-7"></div>
              <div class="brick brick-8"></div>
          </div>
          <div class="row row-8">
              <div class="brick brick-0"></div>
              <div class="brick brick-1"></div>
              <div class="brick brick-2"></div>
              <div class="brick brick-3"></div>
              <div class="brick brick-4"></div>
              <div class="brick brick-5"></div>
              <div class="brick brick-6"></div>
              <div class="brick brick-7"></div>
              <div class="brick brick-8"></div>
          </div>
      </div>
      <div class="table">
          <div class="barrel">
              <div class="segment segment-0">
                  <div class="crane">
                      <div class="flow"></div>
                      <div class="part part-1"></div>
                      <div class="part part-2"></div>
                      <div class="part part-3"></div>
                      <div class="handle"></div>
                  </div>
              </div>
              <div class="segment segment-1">
                  <div class="circle circle-1"></div>
                  <div class="circle circle-2"></div>
                  <div class="circle circle-3"></div>
                  <div class="circle circle-4"></div>
                  <div class="circle circle-5"></div>
                  <div class="circle circle-6"></div>
              </div>
              <div class="segment segment-2">
                  <div class="circle circle-1"></div>
                  <div class="circle circle-2"></div>
                  <div class="circle circle-3"></div>
                  <div class="circle circle-4"></div>
                  <div class="circle circle-5"></div>
                  <div class="circle circle-6"></div>
              </div>
              <div class="segment segment-3">
                  <div class="circle circle-1"></div>
                  <div class="circle circle-2"></div>
                  <div class="circle circle-3"></div>
                  <div class="circle circle-4"></div>
                  <div class="circle circle-5"></div>
                  <div class="circle circle-6"></div>
              </div>
              <div class="segment segment-4"></div>
              <div class="segment segment-5"></div>
              <div class="segment segment-6"></div>
              <div class="segment segment-7"></div>
              <div class="segment segment-8"></div>
              <div class="segment segment-9"></div>
          </div>
          <div class="mugs">
              <div class="mug full mug-0">
                  <div class="glass">
                      <div class="beer">
                          <div class="foam foam-0"></div>
                          <div class="bubble bubble-0"></div>
                          <div class="foam foam-1"></div>
                          <div class="bubble bubble-1"></div>
                          <div class="foam foam-2"></div>
                          <div class="bubble bubble-2"></div>
                          <div class="foam foam-3"></div>
                          <div class="bubble bubble-3"></div>
                          <div class="foam foam-4"></div>
                          <div class="bubble bubble-4"></div>
                          <div class="foam foam-5"></div>
                          <div class="bubble bubble-5"></div>
                      </div>
                  </div>
              </div>
              <div class="mug full mug-1">
                  <div class="glass">
                      <div class="beer">
                          <div class="foam foam-0"></div>
                          <div class="bubble bubble-0"></div>
                          <div class="foam foam-1"></div>
                          <div class="bubble bubble-1"></div>
                          <div class="foam foam-2"></div>
                          <div class="bubble bubble-2"></div>
                          <div class="foam foam-3"></div>
                          <div class="bubble bubble-3"></div>
                          <div class="foam foam-4"></div>
                          <div class="bubble bubble-4"></div>
                          <div class="foam foam-5"></div>
                          <div class="bubble bubble-5"></div>
                      </div>
                  </div>
              </div>
              <div class="mug filling mug-2">
                  <div class="glass">
                      <div class="beer">
                          <div class="foam foam-0"></div>
                          <div class="bubble bubble-0"></div>
                          <div class="foam foam-1"></div>
                          <div class="bubble bubble-1"></div>
                          <div class="foam foam-2"></div>
                          <div class="bubble bubble-2"></div>
                          <div class="foam foam-3"></div>
                          <div class="bubble bubble-3"></div>
                          <div class="foam foam-4"></div>
                          <div class="bubble bubble-4"></div>
                          <div class="foam foam-5"></div>
                          <div class="bubble bubble-5"></div>
                      </div>
                  </div>
              </div>
              <div class="mug  mug-3">
                  <div class="glass">
                      <div class="beer">
                          <div class="foam foam-0"></div>
                          <div class="bubble bubble-0"></div>
                          <div class="foam foam-1"></div>
                          <div class="bubble bubble-1"></div>
                          <div class="foam foam-2"></div>
                          <div class="bubble bubble-2"></div>
                          <div class="foam foam-3"></div>
                          <div class="bubble bubble-3"></div>
                          <div class="foam foam-4"></div>
                          <div class="bubble bubble-4"></div>
                          <div class="foam foam-5"></div>
                          <div class="bubble bubble-5"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
