<div class="wraper">
  <div class="baro-map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-barmarker-value="<%= @barycenter_marker.to_json%>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <%= link_to "Voir les bars", bars_path(@event), class: "btn btn-ghost", style: "position: fixed; bottom: 30px; left: 50%; transform: translateX(-50%);" %>
</div>
