.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;

}

.baro-map {
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  border-radius: 15px
}
